:root {
    --border-size: 0.25em;
    --accent-color: #FF5252;
    --main-color: #9E9E9E;
}

body {
    margin: 0;
}

#login-dialog {
    width: 20%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;

    border: var(--border-size) solid #9E9E9E;
    border-radius: 1em;
    padding: 1em;
}

#login-dialog > form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

#login-dialog > div {
    vertical-align: center;
}

.input-submit {
    background-color: var(--accent-color);
    padding: 0.5em;
    border: var(--border-size) solid transparent;
}

.input-submit:hover {
    border: var(--border-size) solid var(--main-color);
}

.input-text {
    height: 1em;
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: thin solid var(--accent-color);
    text-align: center;
}

.grid-full {
    grid-column-start: 1;
    grid-column-end: 3;
}

.horizontal-divider {
    border-bottom: var(--border-size) solid var(--main-color);
    margin: 1em var(--border-size);
}

.vertical-divider {
    border-right: var(--border-size) solid var(--main-color);
    height: 100%;
    width: 0;
}

