.container {
    display: flex;
    flex-direction: row;
}
.container > div {
    flex-grow: 1;
}

div{
    text-align: center;
}
.container:hover {
    background-color:red;
}
div:focus{
    background-color: green;
}




