.init-col {
    display: inline-block;
    width: calc(100% / 3);
    
    padding: 1em;
    margin-top: 2em;
}

.accent {
    background-color: #FFC107;
    border-radius: 1em;
    border: thin solid #FFC107;
}

.right-col {
    margin-left: calc(100% / 8);
}

input {
    width: 90%;
    background-color: transparent;
    border: thin solid #607D8B;
    text-align: center;
    caret-color: black;
}

button {
    padding: 1em;
    margin: 2em;
}

button:hover {
    background-color: #607D8B;
    border-radius: 1em;
    border: thin solid #FFC107;
    color: #FFC107;
}

#init-div {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: #607D8B;
    border-radius: 1em;
    border: thin solid #607D8B;
    
    width: 90%;
}

#init-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 2;
}

body {
    margin: 0;
}

#grid {
    width: 90%;
    height: 90%;
    background-color: #607D8B;
}

#game {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: 1;
}

#game-end {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.v {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* TODO: faire les classes v2, v4, ..., v2048 qui definissent les couleurs des trucs
    TODO: faire la classe tile qui definit l'apparence des tuiles (genre la bordure, shadow? etc)
    TODO: faire le vrai background de #game, probablement white
    TODO: faire centrer verticalement et horizontalement le #grid en utilisant la meme methode que .v

    ne pas mettre de regles pour .col et .row!!
 */